.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: whitesmoke;
    height: 56px;
    box-shadow: 0px 0.4px silver;
    
}

.toolbar_Logo a {
    color: grey;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar_Navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    justify-content: center;
}

.toolbar_Logo {
    margin-left: 1rem;
}

.toolbar_navigation_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center !important;
}

.toolbar_navigation_items li {
    padding: 0 0.5rem;

}

.toolbar_navigation_items a {
    color: grey;
    text-decoration: none;
}

.toolbar_navigation_items a:active,
.toolbar_navigation_items a:hover {
    color: black;
}


@media (max-width: 768px) {
    .toolbar_navigation_items {
        display: none;
    }

    .toolbar_Navigation {
        justify-content: flex-start;
    }
}

@media (min-width: 769px) {
    .toolbar_toggle-button {
        display: none;
    }

    .toolbar_Logo {
        margin-left: 0;
    }
}